In [1]:
import sys
sys.path.append('..')

from TicTacToe import GameTools as gt
import Sample

In [7]:
full_mixed_dataset = Sample.random_samples(n_samples=15000, save_file=True, directory="15k_mixed.csv")
full_mixed_dataset

,board,winner,first_move,1,2,3,4,5,6,7,8,9
0,"[[-1, -1, 1], [-1, -1, 1], [1, 1, -1]]",-1,-1,-1,-1,1,-1,-1,1,1,1,-1
1,"[[1, -1, 1], [-1, -1, 0], [-1, 1, 1]]",0,-1,1,-1,1,-1,-1,0,-1,1,1
2,"[[0, 1, 1], [0, 0, 0], [-1, -1, -1]]",-1,-1,0,1,1,0,0,0,-1,-1,-1
3,"[[0, 0, 0], [0, 0, 0], [0, 1, 0]]",0,1,0,0,0,0,0,0,0,1,0
4,"[[0, 1, 1], [-1, 0, 0], [1, -1, -1]]",0,-1,0,1,1,-1,0,0,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,"[[0, 1, 0], [1, 0, -1], [-1, 0, -1]]",0,-1,0,1,0,1,0,-1,-1,0,-1
14996,"[[-1, 1, -1], [1, -1, 1], [-1, 0, 1]]",-1,1,-1,1,-1,1,-1,1,-1,0,1
14997,"[[0, 0, 0], [0, 1, -1], [0, 0, 0]]",0,-1,0,0,0,0,1,-1,0,0,0
14998,"[[1, 1, -1], [-1, 1, -1], [1, -1, -1]]",-1,-1,1,1,-1,-1,1,-1,1,-1,-1
14999,"[[-1, 1, 1], [-1, 0, 1], [0, 1, -1]]",0,1,-1,1,1,-1,0,1,0,1,-1

In [4]:
# checking to see how many compelte matches there are in the data -> 1637
full_mixed_dataset.loc[full_mixed_dataset["winner"] != 0]

,board,winner,first_move,1,2,3,4,5,6,7,8,9
4,"[[-1, 1, 0], [0, 1, -1], [0, 1, 0]]",1,1,-1,1,0,0,1,-1,0,1,0
6,"[[1, -1, 0], [1, 1, -1], [1, -1, -1]]",1,-1,1,-1,0,1,1,-1,1,-1,-1
9,"[[-1, 1, -1], [1, 1, 0], [-1, 1, -1]]",1,-1,-1,1,-1,1,1,0,-1,1,-1
10,"[[-1, 1, -1], [-1, 0, -1], [1, 1, 1]]",1,-1,-1,1,-1,-1,0,-1,1,1,1
20,"[[1, 0, 1], [-1, 1, 0], [1, -1, -1]]",1,1,1,0,1,-1,1,0,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
4994,"[[-1, 1, 1], [0, 1, -1], [1, -1, 0]]",1,1,-1,1,1,0,1,-1,1,-1,0
4995,"[[-1, -1, 1], [1, -1, 0], [1, -1, 0]]",-1,-1,-1,-1,1,1,-1,0,1,-1,0
4996,"[[-1, 1, 1], [-1, -1, 1], [1, -1, 1]]",1,1,-1,1,1,-1,-1,1,1,-1,1
4997,"[[0, 1, 0], [-1, 1, 0], [-1, 1, -1]]",1,-1,0,1,0,-1,1,0,-1,1,-1
4999,"[[0, 0, 1], [-1, 1, -1], [1, 0, -1]]",1,-1,0,0,1,-1,1,-1,1,0,-1

In [2]:
xod_reinf_data = Sample.reinforcement_sample(n_samples=50000, class_type='XOD', save_file=True, directory="50k_XOD_reinf.csv")
xod_reinf_data

        1  2  3  4  5  6  7  8  9  label
0       0  0  0  0  0  0  0  0  0     -1
1       1  0  0 -1  0  0  0  0  0      1
2      -1  0 -1  0  0  1  0  0  1      1
3       0 -1  0  0 -1  1  0  0  0     -1
4       0  0  0  1  0  0  0  0  0      1
...    .. .. .. .. .. .. .. .. ..    ...
381250  1 -1  0  1  1 -1 -1  1 -1     -1
381251 -1  1  0 -1 -1  0  1 -1  1     -1
381252  0  0  0  0  0  0  0  0  0     -1
381253 -1 -1  1  1 -1 -1  0  1  0     -1
381254  0  0  0 -1  0  1  1 -1  1      1

[381255 rows x 10 columns]

In [3]:
positional_reinf_data = Sample.reinforcement_sample(n_samples=500000, class_type='positional', save_file=True, directory="500k_positional_reinf.csv")
positional_reinf_data

         1  2  3  4  5  6  7  8  9  label  outcome
0        0  1  0  1 -1  0 -1  0 -1      3       -1
1       -1  0  0  0 -1  1  1 -1  1      4        1
2        0  0  0  0  1  0  0  0  0      3        0
3        0  0  0  0 -1  0  1  1 -1      6        1
4        0 -1  0 -1  1  1  0  0  0      9        1
...     .. .. .. .. .. .. .. .. ..    ...      ...
3813342  0  0  0  0  0  0  0  0  1      1        0
3813343  1  1 -1  0  1 -1  0 -1  0      7       -1
3813344  0  0  0  0  0  0  0  0  0      6        1
3813345  0 -1  0  0  1  1 -1  0  1      8        1
3813346  0  0  0  0  0  0  0  0  0      6       -1

[3813347 rows x 11 columns]

In [7]:
positional_reinf_data_triple_mapped = prdtm = Sample.reinforcement_sample(n_samples=50000, class_type='positional', save_file=False)

In [8]:
prdtm["left_diag"] = prdtm[1] * prdtm[5] * prdtm[9]
prdtm["right_diag"] = prdtm[3] * prdtm[5] * prdtm[7]
prdtm["row_one"] = prdtm[1] * prdtm[2] * prdtm[3]
prdtm["row_two"] = prdtm[4] * prdtm[5] * prdtm[6]
prdtm["row_three"] = prdtm[7] * prdtm[8] * prdtm[9]
prdtm

,1,2,3,4,5,6,7,8,9,label,outcome,left_diag,right_diag,row_one,row_two,row_three
0,0,1,0,0,0,0,0,0,-1,1,0,0,0,0,0,0
1,0,1,0,-1,1,0,-1,0,0,6,-1,0,0,0,0,0
2,0,0,-1,0,1,0,0,0,0,2,-1,0,0,0,0,0
3,1,-1,0,-1,1,1,1,-1,-1,3,0,-1,0,0,-1,1
4,1,0,0,0,0,1,0,-1,0,7,-1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381576,0,0,0,0,0,0,0,0,0,3,-1,0,0,0,0,0
381577,1,1,-1,1,-1,0,0,-1,-1,7,1,1,0,-1,0,0
381578,0,0,1,0,0,-1,1,0,-1,5,1,0,0,0,0,0
381579,0,-1,1,0,1,0,-1,1,0,1,-1,0,-1,0,0,0
381580,0,0,0,-1,-1,1,0,0,1,2,1,0,0,0,1,0

In [9]:
prdtm.to_csv("50k_positional_reinf_triple_mapped.csv")