In [4]:
import sys
sys.path.append('..')

In [5]:
from TicTacToe import GameTools as gt
import Sample

In [9]:
full_mixed_dataset = Sample.random_samples(n_samples=10000, save_file=True, directory="10k_cluster.csv")
full_mixed_dataset

,board,winner,1,2,3,4,5,6,7,8,9
0,"[[-1, -1, -1], [0, 1, -1], [1, 1, 0]]",-1,6,-5,8,-9,7,0,0,0,0
1,"[[1, 0, 0], [-1, 1, 1], [0, -1, 0]]",-1,-7,6,-5,7,-4,3,-9,0,0
2,"[[-1, 1, 0], [0, 1, 0], [-1, 1, -1]]",1,-5,6,-5,4,-7,8,0,0,0
3,"[[1, -1, -1], [-1, -1, 0], [1, -1, 0]]",-1,-7,7,-9,3,0,0,0,0,0
4,"[[0, -1, -1], [0, 1, -1], [-1, -1, 1]]",-1,9,-5,6,-3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,"[[-1, -1, 0], [-1, -1, -1], [-1, 1, -1]]",-1,8,-5,0,0,0,0,0,0,0
9996,"[[1, -1, -1], [-1, -1, -1], [-1, -1, -1]]",-1,3,0,0,0,0,0,0,0,0
9997,"[[-1, 1, 0], [-1, -1, 1], [1, 0, -1]]",-1,7,-5,7,-8,4,0,0,0,0
9998,"[[-1, -1, 1], [0, 1, -1], [1, -1, 0]]",1,6,-5,7,-9,5,0,0,0,0
9999,"[[1, 0, 1], [-1, 0, -1], [1, -1, -1]]",-1,5,-6,3,-4,7,0,0,0,0

In [10]:
# checking to see how many compelte matches there are in the data -> 1637
full_mixed_dataset.loc[full_mixed_dataset["winner"] != -1]

                                      board  winner  1  2  3  4  5  6  7  8  9
2      [[-1, 1, 0], [0, 1, 0], [-1, 1, -1]]       1 -5  6 -5  4 -7  8  0  0  0
7     [[-1, -1, -1], [1, 1, 1], [-1, 0, 0]]       1  6 -8  7 -9  5  0  0  0  0
8       [[1, 1, 1], [0, 0, -1], [-1, 1, 0]]       1  8 -5  3 -9  4 -6  5  0  0
9        [[1, 1, 0], [0, 1, 0], [1, -1, 0]]       0  4 -5  7 -5  6 -7  3 -9  0
17      [[0, 1, 0], [-1, 0, 1], [0, 1, -1]]       0 -3  8 -5  4 -6  7 -7  0  0
...                                     ...     ... .. .. .. .. .. .. .. .. ..
9978  [[-1, -1, -1], [1, 1, -1], [0, 0, 0]]       0 -9  5 -8  6 -7  0  0  0  0
9979   [[1, 0, 0], [1, -1, -1], [1, -1, 0]]       1 -9  3 -5  7 -4  5  0  0  0
9986     [[1, 1, -1], [1, 0, 1], [0, 0, 0]]       0  7 -6  4 -7  3 -9  5 -8  0
9988  [[-1, 1, -1], [-1, -1, 1], [0, 0, 0]]       0 -8  4 -9  7 -7  0  0  0  0
9998  [[-1, -1, 1], [0, 1, -1], [1, -1, 0]]       1  6 -5  7 -9  5  0  0  0  0

[1637 rows x 11 columns]