In [2]:
import sys
sys.path.append('..')

In [3]:
from TicTacToe import GameTools as gt
import Sample

In [6]:
full_mixed_dataset = Sample.random_samples(n_samples=5000, save_file=True, directory="5k_mixed.csv")
full_mixed_dataset

,board,winner,1,2,3,4,5,6,7,8,9
0,"[[1, 1, 0], [1, 0, -1], [1, -1, 0]]",1,4,-9,2,-5,1,-3,7,0,0
1,"[[-1, 0, 0], [0, 1, 1], [1, -1, 1]]",-1,7,-3,6,-4,9,-2,5,0,0
2,"[[-1, -1, -1], [1, -1, -1], [-1, 0, -1]]",-1,-8,4,0,0,0,0,0,0,0
3,"[[-1, -1, -1], [-1, -1, 1], [0, -1, -1]]",-1,-7,6,0,0,0,0,0,0,0
4,"[[0, 1, -1], [1, 0, 1], [0, -1, 0]]",0,-5,6,-7,2,-9,4,-1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4995,"[[0, 1, 1], [-1, -1, -1], [-1, -1, -1]]",-1,2,-1,3,0,0,0,0,0,0
4996,"[[1, -1, -1], [-1, -1, 0], [-1, -1, -1]]",-1,1,-6,0,0,0,0,0,0,0
4997,"[[-1, -1, 0], [1, -1, 0], [1, -1, 0]]",0,-9,7,-6,4,-3,0,0,0,0
4998,"[[-1, -1, -1], [-1, -1, 1], [-1, -1, 0]]",-1,-9,6,0,0,0,0,0,0,0
4999,"[[0, -1, -1], [-1, 1, -1], [-1, -1, -1]]",-1,-1,5,0,0,0,0,0,0,0

In [5]:
# checking to see how many compelte matches there are in the data -> 1637
full_mixed_dataset.loc[full_mixed_dataset["winner"] != -1]

                                      board  winner  1  2  3  4  5  6  7  8  9
7       [[1, -1, 0], [0, 0, 0], [1, 1, -1]]       0 -6  1 -3  8 -4  7 -5  0  0
20      [[-1, 1, 0], [-1, 0, 0], [1, 1, 1]]       1  9 -3  7 -6  2 -5  8  0  0
29       [[0, 1, 0], [1, 1, 0], [0, 1, -1]]       1 -3  8 -7  5 -6  4 -1  2  0
42    [[0, 0, -1], [1, 1, 1], [-1, -1, -1]]       1  6 -2  5 -1  4  0  0  0  0
46      [[0, 1, 1], [0, 0, 0], [-1, 1, -1]]       0 -4  3 -6  2 -1  8 -5  0  0
...                                     ...     ... .. .. .. .. .. .. .. .. ..
9954     [[1, -1, 0], [1, 0, 1], [0, 0, 1]]       0  9 -5  1 -8  6 -3  4 -7  0
9960     [[1, 1, -1], [1, 0, 1], [0, 0, 0]]       0  2 -7  4 -8  1 -5  6 -9  0
9978   [[-1, 1, -1], [1, -1, 1], [0, 0, 0]]       0  4 -8  6 -9  2 -7  0  0  0
9980     [[1, 0, 0], [0, 1, 0], [1, -1, 1]]       1 -4  1 -6  5 -2  7 -3  9  0
9992    [[0, 0, 1], [1, 1, 1], [0, -1, -1]]       1  4 -1  6 -7  3 -2  5  0  0

[1665 rows x 11 columns]