In [1]:
import sys
sys.path.append('..')

In [2]:
from TicTacToe import GameTools as gt
import Sample

In [7]:
full_mixed_dataset = Sample.random_samples(n_samples=15000, save_file=True, directory="15k_mixed.csv")
full_mixed_dataset

,board,winner,first_move,1,2,3,4,5,6,7,8,9
0,"[[-1, -1, 1], [-1, -1, 1], [1, 1, -1]]",-1,-1,-1,-1,1,-1,-1,1,1,1,-1
1,"[[1, -1, 1], [-1, -1, 0], [-1, 1, 1]]",0,-1,1,-1,1,-1,-1,0,-1,1,1
2,"[[0, 1, 1], [0, 0, 0], [-1, -1, -1]]",-1,-1,0,1,1,0,0,0,-1,-1,-1
3,"[[0, 0, 0], [0, 0, 0], [0, 1, 0]]",0,1,0,0,0,0,0,0,0,1,0
4,"[[0, 1, 1], [-1, 0, 0], [1, -1, -1]]",0,-1,0,1,1,-1,0,0,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
14995,"[[0, 1, 0], [1, 0, -1], [-1, 0, -1]]",0,-1,0,1,0,1,0,-1,-1,0,-1
14996,"[[-1, 1, -1], [1, -1, 1], [-1, 0, 1]]",-1,1,-1,1,-1,1,-1,1,-1,0,1
14997,"[[0, 0, 0], [0, 1, -1], [0, 0, 0]]",0,-1,0,0,0,0,1,-1,0,0,0
14998,"[[1, 1, -1], [-1, 1, -1], [1, -1, -1]]",-1,-1,1,1,-1,-1,1,-1,1,-1,-1
14999,"[[-1, 1, 1], [-1, 0, 1], [0, 1, -1]]",0,1,-1,1,1,-1,0,1,0,1,-1

In [4]:
# checking to see how many compelte matches there are in the data -> 1637
full_mixed_dataset.loc[full_mixed_dataset["winner"] != 0]

,board,winner,first_move,1,2,3,4,5,6,7,8,9
4,"[[-1, 1, 0], [0, 1, -1], [0, 1, 0]]",1,1,-1,1,0,0,1,-1,0,1,0
6,"[[1, -1, 0], [1, 1, -1], [1, -1, -1]]",1,-1,1,-1,0,1,1,-1,1,-1,-1
9,"[[-1, 1, -1], [1, 1, 0], [-1, 1, -1]]",1,-1,-1,1,-1,1,1,0,-1,1,-1
10,"[[-1, 1, -1], [-1, 0, -1], [1, 1, 1]]",1,-1,-1,1,-1,-1,0,-1,1,1,1
20,"[[1, 0, 1], [-1, 1, 0], [1, -1, -1]]",1,1,1,0,1,-1,1,0,1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
4994,"[[-1, 1, 1], [0, 1, -1], [1, -1, 0]]",1,1,-1,1,1,0,1,-1,1,-1,0
4995,"[[-1, -1, 1], [1, -1, 0], [1, -1, 0]]",-1,-1,-1,-1,1,1,-1,0,1,-1,0
4996,"[[-1, 1, 1], [-1, -1, 1], [1, -1, 1]]",1,1,-1,1,1,-1,-1,1,1,-1,1
4997,"[[0, 1, 0], [-1, 1, 0], [-1, 1, -1]]",1,-1,0,1,0,-1,1,0,-1,1,-1
4999,"[[0, 0, 1], [-1, 1, -1], [1, 0, -1]]",1,-1,0,0,1,-1,1,-1,1,0,-1